@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

header {
    font-family: Abril Fatface, sans-serif;
}


h1 {
    text-align: center;
    font-size: 3em;
}

body {

    font-family: Source Sans Pro, sans-serif;
    background-color: #eee;
    border-color: #eee;
    padding: 0em 5em;
    text-align: center;
    
}
body img{
    width: 100%;
    
}

article {
    font-family: Roboto Slab, sans-serif;
}

.newspaper-container {
    background-color: white;
    box-shadow: 1px 5px 5px lightgrey;
    width: 700px;
    border-radius: 15px;
    padding: 1em 1em;
    margin: 5em auto;
}

main{
    margin: 0 1.25em;
}
main p{
    margin: .8em .5em;
    letter-spacing: -1px;
}
main h2 {
    font-family: Roboto Slab, sans-serif;

}

main h5 {
    color: #dd3232;
    font-family: Roboto Slab, sans-serif;
}

.date {
    font-family: source sans pro, sans-serif;
    text-align: left;
}

nav{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
nav ul li {
    color: #777;
    display: inline-block;
    font-style: normal;
    font-size: small;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #777;
    text-align: justify;
}

.more-articles {
    border-top: 1px solid lightgrey;
    margin-top: 1.5em;
    text-align: center;
}
.more-articles h4{
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}
.more-articles img {
    width: 100%;
}
.more-articles section{
    display: inline-block;
    width: 42%;
    margin: 0 1em;
    letter-spacing: -1px;

}

